# build files
*.o
*.class
*.jar
*.so
*.dylib
*.dll
*.gcda
target/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# misc
*.log

# temp files
*~

# Generated bindings
python/lapsolver
